<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <jsp-config>
    <!-- 配置c描述文件-对应c标签，这里的taglib-uri对应jsp中引入的uri -->
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <display-name>shop</display-name>

  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>org.shop.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCategoryServlet</servlet-name>
    <servlet-class>org.shop.servlets.viewCategoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCategoryServlet</servlet-name>
    <url-pattern>/viewCategory</url-pattern>
  </servlet-mapping>
  <!--配置ViewProductServlet-->
  <servlet>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>org.shop.servlets.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/viewProduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewItemServlet</servlet-name>
    <servlet-class>org.shop.servlets.ViewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItemServlet</servlet-name>
    <url-pattern>/viewItem</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>org.shop.servlets.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <servlet-class>org.shop.servlets.AddItemToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <url-pattern>/addItemToCart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>org.shop.servlets.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemoveItemFromCartServlet</servlet-name>
    <servlet-class>org.shop.servlets.RemoveItemFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemFromCartServlet</servlet-name>
    <url-pattern>/removeItemFromCart</url-pattern>
  </servlet-mapping>

  <!--更新购物车数量-->
  <servlet>
    <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
    <servlet-class>org.shop.servlets.UpdateCartQuantitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
    <url-pattern>/updateCartQuantities</url-pattern>
  </servlet-mapping>

  <!--登录跳转配置-->
  <servlet>
    <servlet-name>SignOnFormServlet</servlet-name>
    <servlet-class>org.shop.servlets.SignOnFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOnFormServlet</servlet-name>
    <url-pattern>/signOnForm</url-pattern>
  </servlet-mapping>

  <!--登录配置-->
  <servlet>
    <servlet-name>SignOnServlet</servlet-name>
    <servlet-class>org.shop.servlets.SignOnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOnServlet</servlet-name>
    <url-pattern>/signOn</url-pattern>
  </servlet-mapping>

  <!--登出账户-->
  <servlet>
    <servlet-name>SignOffServlet</servlet-name>
    <servlet-class>org.shop.servlets.SignOffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOffServlet</servlet-name>
    <url-pattern>/signOff</url-pattern>
  </servlet-mapping>

  <!--编辑账户信息-->
  <servlet>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>org.shop.servlets.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/editAccount</url-pattern>
  </servlet-mapping>

  <!--注册表单-->
  <servlet>
    <servlet-name>NewAccountFormServlet</servlet-name>
    <servlet-class>org.shop.servlets.NewAccountFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccountFormServlet</servlet-name>
    <url-pattern>/newAccountForm</url-pattern>
  </servlet-mapping>

  <!--注册-->
  <servlet>
    <servlet-name>NewAccountServlet</servlet-name>
    <servlet-class>org.shop.servlets.NewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccountServlet</servlet-name>
    <url-pattern>/newAccount</url-pattern>
  </servlet-mapping>

  <!--账号信息更改-->
  <servlet>
    <servlet-name>SaveAccountServlet</servlet-name>
    <servlet-class>org.shop.servlets.SaveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAccountServlet</servlet-name>
    <url-pattern>/saveAccount</url-pattern>
  </servlet-mapping>

  <!--?跳转-->
  <servlet>
    <servlet-name>JPetStoreDemoServlet</servlet-name>
    <servlet-class>org.shop.servlets.JPetStoreDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JPetStoreDemoServlet</servlet-name>
    <url-pattern>/jPetStoreDemo</url-pattern>
  </servlet-mapping>

  <!--跳1-->
  <servlet>
    <servlet-name>ShippingFormServlet</servlet-name>
    <servlet-class>org.shop.servlets.ShippingFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingFormServlet</servlet-name>
    <url-pattern>/shippingForm</url-pattern>
  </servlet-mapping>

  <!--跳转到生成订单表-->
  <servlet>
    <servlet-name>NewOrderFormServlet</servlet-name>
    <servlet-class>org.shop.servlets.NewOrderFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewOrderFormServlet</servlet-name>
    <url-pattern>/newOrderForm</url-pattern>
  </servlet-mapping>

  <!--跳往到确定订单-->
  <servlet>
    <servlet-name>ConfirmOrderFormServlet</servlet-name>
    <servlet-class>org.shop.servlets.ConfirmOrderFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderFormServlet</servlet-name>
    <url-pattern>/conFirmOrderForm</url-pattern>
  </servlet-mapping>

  <!--查看最终订单-->
  <servlet>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>org.shop.servlets.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/viewOrder</url-pattern>
  </servlet-mapping>

  <!--更改地址-->
  <servlet>
    <servlet-name>ShippingAddressServlet</servlet-name>
    <servlet-class>org.shop.servlets.ShippingAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingAddressServlet</servlet-name>
    <url-pattern>/shippingAddress</url-pattern>
  </servlet-mapping>

  <!--查看订单列表-->
  <servlet>
    <servlet-name>ViewListOrderServlet</servlet-name>
    <servlet-class>org.shop.servlets.ViewListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListOrderServlet</servlet-name>
    <url-pattern>/viewListOrder</url-pattern>
  </servlet-mapping>

  <!--验证码设置-->
  <servlet>
    <servlet-name>VerificationCode</servlet-name>
    <servlet-class>org.shop.domain.VerificationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationCode</servlet-name>
    <url-pattern>/verificationCode</url-pattern>
  </servlet-mapping>

  <!--日志检验-->
  <servlet>
    <servlet-name>Log4InitServlet</servlet-name>
    <servlet-class>org.shop.servlets.Log4InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4InitServlet</servlet-name>
    <url-pattern>/log4Init</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>org.shop.servlets.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/logServlet</url-pattern>
  </servlet-mapping>
</web-app>
